.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(#42567a, 0.5);
    background: none;
    transition: all 0.1s;

    &:not(:disabled):hover {
        border-color: rgba(#42567a, 0.8);
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &_disabled {
        opacity: 0.5;
    }

    &_small {
        width: 40px;
        height: 40px;
        border: none;
        background: white;
        box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);
    }

    &_regular {
        @media (max-width: 768px) {
            width: 25px;
            height: 25px;
        }
    }

    &__arrow {
        font-size: 0;

        svg {
            @media (max-width: 768px) {
                transform: scale(0.7);
            }
        }
    }

    &_next &__arrow {
        transform: rotate(180deg);
    }
}
